<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title >Register</title>
</head>
<body>
<div class="container">
    <div>
        <h2>Create Complaint Page</h2>
        <hr>
    </div>
    <div>
        <br/>
        <form  th:action="@{/createNewComplaint}" method="POST">
            <div class="form-group">
                <label for="text">Complaint text</label>
                <textarea class="form-control" id="text" name="text" rows="3"></textarea>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
    </div>
</div>
</body>
</html>